<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246129798935-gtq48229s51371ec2d6bgaagoht4p4qi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246129798935-gtq48229s51371ec2d6bgaagoht4p4qi</string>
	<key>API_KEY</key>
	<string>AIzaSyB3mOPlkt8X0PHf5icBVLaNxr0TVj9gx3U</string>
	<key>GCM_SENDER_ID</key>
	<string>246129798935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyFlutter11Codingchef01Firebase</string>
	<key>PROJECT_ID</key>
	<string>study-flutter-11-01-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>study-flutter-11-01-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246129798935:ios:76b701f2154e476c0fd152</string>
</dict>
</plist>